node_modules/
node-express-documentation.md
15.MVC_Architecture/node_modules/
*/node_modules/
*\node_modules\
\*\node_modules\
\*\node_modules
*/node_modules
/*/*.md
\Mongodb\README.md
/Mongodb/README.md

\Mongodb\node_modules/
/Mongodb/node_modules/

\Mongodb\ChatGPT_Help.txt
/Mongodb/ChatGPT_Help.txt